extends layout

block content
    div.container 
        <a href="/">Home page</a>
        <a href="/home" class="Our Services">Our Services</a>
        <a href="/Contact" class="Contact us">Contact us</a>
    div.contact
        h1 CONTACT NOUS
    div.content
        div.content-iterm
            h2 Karim kouyate 

        div.content-iterm
            h2 VamoussaDev 

        div.content-iterm
            h2 Martial 

        //- img(src="/unsplash1.jpg", alt="image")