extends layout

block content
    div.container 
        <a href="/">Home page</a>
        <a href="/home" class="Our Services">Our Services</a>
        <a href="/Contact" class="Contact us">Contact us</a>
    div.contact
        h1 NOS SERVICE
    div.content
        div.content-iterm
            h2 VENTE DE TELEPHONE 

        div.content-iterm
            h2 VENTE DE VOITURE 

        div.content-iterm
            h2 VENTE DE SITE WEB 