extends layout

block content
  - date = new Date()
  - hour = date.getHours()

  - if((hour >= 9) && (hour <= 17)){
    div.container 
      <a href="/">Home page</a>
      <a href="/home" class="Our Services">Our Services</a>
      <a href="/Contact" class="Contact us">Contact us</a>
    div.contact
      h1 BIENVENUE CHEZ LE DEV
  - } else {
    div.content-page
      div.page
        h1 BIENVENUE SUR LA PAGE DE MISE EN VEILLE 
        P Desolé la page est momentanément indisponible veillez passer demain a 9h 
  - }
  