extends layout

block content
  - date = new Date()
  - hour = date.getHours()

  - if((hour >= 9) && (hour <= 17)){
    div.container 
      <a href="/">Home page</a>
      <a href="/home" class="Our Services">Our Services</a>
      <a href="/Contact" class="Contact us">Contact us</a>
    div.contact
      h1 BIENVENUE CHEZ LE DEV
  - } else {
    h1 moussa
  - }
  